<style>
    @import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Cookie&family=Marck+Script&family=Playball&family=Staatliches&display=swap');

    .hood-pic{
        width: 350px;
        height: 200px;
        object-fit: cover;
    }
    /* .hood-content{
        gap: 20px;
        
    } */
    h1{
        margin-top: 2rem;
        color: coral;
        font-family: 'Staatliches', cursive;
        text-align: center;
    }
    .hoodd{
        background: rgb(228, 226, 226);
        min-height: 100vh;
    }
</style>
